extends ../layout

block content
    p
        a(href=`/carreras`) Volver a la lista de carreras
    h1 Crear carrera
    if mensaje
        pre #{mensaje}
    form(method='POST' action='/carreras/crear')
        label(for='numero') *Numero:
        input#numero(type='numero' name='numero' )
        br

        label(for='descripcion') *Descripcion:
        input#descripcion(type='text' name='descripcion' )
        br

        label(for='fecha') *Fecha:
        input#fecha(type='date' name='fecha' )
        br

        label(for='horaInicio') *Hora Inicio:
        input#horaInicio(type='time' name='horaInicio' )
        br

        label(for='distancia') *Distancia(m):
        input#distancia(type='number' name='distancia' )
        br

        input(type='submit' value='Crear')