extends ../layout

block content
    p
        a(href=`/carreras`) Volver a la lista de carreras
    h1 Detalle de Carrera
    p
        a(href=`/carreras/${carrera._id}/editar`) Editar carrera
    p
        a(href=`/carreras/${carrera._id}/participantes`) Ver participantes

    if mensaje
        pre #{mensaje}

    ul
        li
            strong Numero:
            span #{carrera.numero}
        li
            strong Descripcion:
            span #{carrera.descripcion}
        li
            strong Fecha:
            span #{carrera.fecha.toLocaleDateString('es-ES', {month: "2-digit", day: "2-digit", year: "numeric"})}
        li
            strong Hora:
            span #{carrera.fecha.toLocaleTimeString('es-ES', {hour: "2-digit", minute: "2-digit"})}
        li
            strong Distancia(m):
            span #{carrera.distancia}

