extends ../layout

block content
    p
        a(href=`/carreras/${carrera._id}/detalle`) Volver a carrera
    h1 Editar carrera
    if mensaje
        pre #{mensaje}

    form(method='POST' action=`/carreras/${carrera._id}/editar`)
        label(for='numero') *Numero:
        input#numero(type='numero' name='numero' value=`${carrera.numero}` )
        br

        label(for='descripcion') *Descripcion:
        input#descripcion(type='text' name='descripcion' value=`${carrera.descripcion} `)
        br

        label(for='fecha') *Fecha:
        input#fecha(type='date' name='fecha' value=`${carrera.fecha.toLocaleDateString('es-ES', {year: "numeric", month: "2-digit", day: "2-digit"})}`)
        br

        label(for='horaInicio') *Hora Inicio:
        input#horaInicio(type='time' name='horaInicio' value=`${carrera.fecha.toLocaleTimeString('es-ES', {hour: "2-digit", minute: "2-digit"})}`)
        br

        label(for='distancia') *Distancia(m):
        input#distancia(type='number' name='distancia' value=`${carrera.distancia}`)
        br

        input(type='submit' value='Actualizar')