extends ../layout

block content
    h1 Listado de Carreras
    p
        a(href="/carreras/crear") Agregar carrera
    if mensaje
        pre #{mensaje}
    table
        tr
            th Numero
            th Descripcion
            th Fecha
            th Distancia(m)
            th Participantes
            th(colspan=2) Acciones
        each c in carreras
            tr
                td #{c.numero}
                td #{c.descripcion}
                td #{c.fecha.toLocaleDateString('es-ES', {hour: "2-digit", minute: "2-digit"})}
                td #{c.distancia}
                td #{c.participantes.length}
                td
                    a(href=`/carreras/${c._id}/detalle`) Detalle
                td
                    a(href=`/carreras/${c._id}/participantes`) Participantes
                td
                    a(href=`/carreras/${c._id}/editar`) Editar
                td
                    a(href=`/carreras/${c._id}/eliminar`) Eliminar

