extends ../layout

block content
    p
        a(href=`/carreras/${carrera._id}/detalle`) Volver a carrera
    h1 Listado de participantes
    if mensaje
        pre #{mensaje}

    if registro
        pre Resultado de la actualizacion de tiempos:
            ul
                li Numero de participantes en la carrera:  #{registro.carreraNumParticipantes}
                li Numero de registros leidos desde el fichero:  #{registro.lineasFichero}
                if registro.errores.codigosSinParticipante
                    li Codigos del fichero sin ningun participante asociado:  #{registro.errores.codigosSinParticipante.length}
                        ul
                            each codigo in registro.errores.codigosSinParticipante
                                li #{codigo.codigo}
                if registro.errores.participantesSinCodigo
                    li Participantes de la carrera sin ningún codigo asociado:  #{registro.errores.participantesSinCodigo.length}
                        ul
                            each participante in registro.errores.participantesSinCodigo
                                li #{participante.nombre} #{participante.apellidos}

    p
        a(href=`participantes/crear`) Agregar participante
    if carrera.participantes.length
        p
            a(href=`participantes/limpiarTiempos`) Resetear tiempos
        p
            form(method='POST' action=`/carreras/${carrera._id}/participantes/calcularTiempos` enctype="multipart/form-data")
                label(for='calcularTiempos') Actualizar tiempos:
                input#calcularTiempos(type='file' name='tiempos')
                input(type='submit' value='Enviar fichero')
        p
            form(method='GET' action=`/carreras/${carrera._id}/participantes/buscar/` enctype="multipart/form-data")
                label(for='buscarApellido') Buscar por apellido:
                input#buscarApellido(type='text' name='apellidos')
                input(type='submit' value='Buscar')

    h4 Numero de registros: #{carrera.participantes.length}
    table
        tr
            th Nombre
            th Apellidos
            th Dni
            th Club
            th Dorsal
            th Codigo
            th Posicion
            th Tiempo
            th(colspan=2) Acciones
        each p in carrera.participantes
            tr
                td #{p.nombre}
                td #{p.apellidos}
                td #{p.dni}
                td #{p.club}
                td #{p.dorsal.numero}
                td #{p.dorsal.codigoChip}
                td #{p.posicion}
                if p.tiempo
                    td #{ p.tiempo.toLocaleTimeString() }
                else
                    td
                td
                    a(href=`/participantes/${p._id}/detalle`) Detalle
                td
                    a(href=`/participantes/${p._id}/editar`) Editar
                td
                    a(href=`/participantes/${p._id}/eliminar`) Eliminar

