extends ../layout

block content
    p
        a(href=`/carreras/${carrera._id}/detalle`) Volver a carrera
    h1 Busqueda de participantes
    if mensaje
        pre #{mensaje}
    p
        form(method='GET' action=`/carreras/${carrera._id}/participantes/buscar/` enctype="multipart/form-data")
            label(for='buscarApellido') Buscar por apellido:
            input#buscarApellido(type='text' name='apellidos')
            input(type='submit' value='Buscar')

    h4 Numero de registros: #{carrera.participantes.length}
    table
        tr
            th Nombre
            th Apellidos
            th Dni
            th Club
            th Dorsal
            th Codigo
            th Posicion
            th Tiempo
            th(colspan=2) Acciones
        each p in carrera.participantes
            tr
                td #{p.nombre}
                td #{p.apellidos}
                td #{p.dni}
                td #{p.club}
                td #{p.dorsal.numero}
                td #{p.dorsal.codigoChip}
                td #{p.posicion}
                if p.tiempo
                    td #{ p.tiempo.toLocaleTimeString() }
                else
                    td
                td
                    a(href=`/participantes/${p._id}/detalle`) Detalle
                td
                    a(href=`/participantes/${p._id}/editar`) Editar
                td
                    a(href=`/participantes/${p._id}/eliminar`) Eliminar

