extends ../layout
block content
    h1 Crear Participante
    if mensaje
        pre #{mensaje}

    form(method='POST' action='crear')
        label(for='dorsal') Dorsal:
        input#dorsal(type='text' name='dorsal' placeholder='Asignado automaticamente' disabled=true)
        br

        label(for='nombre') *Nombre:
        input#nombre(type='text' name='nombre' )
        br

        label(for='apellidos') *Apellidos:
        input#apellidos(type='text' name='apellidos' )
        br

        label(for='dni') *Dni:
        input#dni(type='text' name='dni' )
        br

        label(for='club') Club:
        input#club(type='text' name='club')
        br

        input(type='submit' value='Crear')