extends ../layout

block content
    h1 Detalle de Participante
    p
        a(href=`/participantes/${participante._id}/editar`) Editar participante
    td
        a(href=`/carreras/${participante.carrera._id}/participantes`) Ver Carrera
    if mensaje
        pre #{mensaje}

    ul
        li
            strong Dorsal:
            span #{participante.dorsal.numero}
        li
            strong Nombre:
            span #{participante.nombre}
        li
            strong Apellidos:
            span #{participante.apellidos}
        li
            strong Dni:
            span #{participante.dni}
        li
            strong Club:
            span #{participante.club}
        li
            strong Posicion:
            span #{participante.posicion}
        li
            strong Tiempo:
            span #{participante.tiempo}

    h2 Info de la carrera
    ul
        li
            strong Numero:
            span #{participante.carrera.numero}
        li
            strong Descripcion:
            span #{participante.carrera.descripcion}
        li
            strong Fecha:
            span #{participante.carrera.fecha.toLocaleDateString('es-ES', {month: "2-digit", day: "2-digit", year: "numeric"})}
        li
            strong Hora:
            span #{participante.carrera.fecha.toLocaleTimeString('es-ES', {hour: "2-digit", minute: "2-digit"})}
        li
            strong Distancia(m):
            span #{participante.carrera.distancia}


