extends ../layout

block content
    if mensaje
        pre #{mensaje}

    form(method='POST' action=`/participantes/${participante._id}/editar`)
        label(for='nombre') *Nombre:
        input#nombre(type='text' name='nombre' value=`${participante.nombre}`)
        br

        label(for='apellidos') *Apellidos:
        input#apellidos(type='text' name='apellidos' value=`${participante.apellidos}`)
        br

        label(for='dni') *Dni:
        input#dni(type='text' name='dni' value=`${participante.dni}`)
        br

        label(for='club') Club:
        input#club(type='text' name='club' value=`${participante.club}`)
        br

        input(type='submit' value='Actualizar')