extends ../layout

block content
    h1 Participantes
    if mensaje
        pre #{mensaje}
    table
        tr
            th Dorsal
            th Nombre
            th Apellidos
            th DNI
            th Club
            th Posicion
            th Tiempo
            th(colspan=4) Acciones
        each p in participantes
            tr
                td #{p.dorsal}
                td #{p.nombre}
                td #{p.apellidos}
                td #{p.dni}
                td #{p.club}
                td #{p.posicion}
                td #{p.tiempo}
                td
                    a(href=`/participantes/${p._id}/detalle`) Detalle
                td
                    a(href=`/carreras/${p.carrera}/participantes`) Carrera
                td
                    a(href=`/participantes/${p._id}/editar`) Editar
                td
                    a(href=`/participantes/${p._id}/eliminar`) Eliminar

